# Node.js
node_modules/

# Next.js build output
/.next/

# .env files (contains sensitive information)
.env.local
.env.development
.env.test
.env.production

# TypeScript build output
/build/

# Editor-specific files
.vscode/
.idea/

# Logs
*.log

# Mac OS
.DS_Store

# Windows
Thumbs.db
